body{
	width: 90%;
	background-color: lightgrey;
	margin: 0 auto;
}
hr{
	border: 1px solid #34495e;
}
.placeholder1{
	margin-top: 5%;
	background-color: #ecf0f1;
	padding: 15px 15px 15px 15px;
}
.placeholder2{
	background-color: #ecf0f1;
	padding: 15px 15px 15px 15px;
	width: 500px;
	height: 500px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.boxes{
	background-color: #e74c3c;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 2em;
}
.columnleft{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
}
.columnright{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-direction: column;
}
.placeholder1:hover{
	animation: 4s rainbow linear infinite;
}
@keyframes rainbow{
	0% {background-color: red;}
	25% {background-color: green;}
	50% {background-color: yellow;}
	75% {background-color: blue;}
	100% {background-color: red;}
}
img:hover{
	transition-timing-function: ease-out;
	transform: rotate(180deg);
	transition: 2s;
}
img{
	transition: all 0.5s ease-out;
}
.imgwrapper{
	display: flex;
}
.imgwrapper img{
	margin: auto;
}
.roundbox {
	background-color: #ecf0f1; 
}
