.page1 a:hover{
	font-size: 40px;
 	color: #7bed9f;
}
.page2 a:hover{
	font-size: 40px;
	color: #ff4757;
}
.page3 a:hover{
	font-size: 40px;
	color: #2f3542;
}
.page4 a:hover{
	font-size: 40px;
	color: #0984e3;
}
.page5 a:hover{
	font-size: 40px;
	color: #ff7f50;
}
.page6 a:hover{
	font-size: 40px;
	color: #ff7f50;
}
ul li {
	padding: 15px 0px;
}
.container{
 	border: 3px solid #0984e3;
 	width: 400px;
 	margin: 5% auto;
}
.container h2{
	padding-left: 20px;
}
