.page1 a:hover{
	font-size: 40px;
 	color: #7bed9f;
}
.page2 a:hover{
	font-size: 40px;
	color: #ff4757;
}
.page3 a:hover{
	font-size: 40px;
	color: #2f3542;
}
.page4 a:hover{
	font-size: 40px;
	color: #0984e3;
}
