body{
	background-image: url('https://cdn.pixabay.com/photo/2018/10/05/09/45/cobweb-3725540__480.jpg');
	margin:  15px 10%;
	background-size: cover;
}
.wrapper{
	display: flex;
	justify-content: space-around;
	font-size: 25px;
	color: white;
}
.wrapper div{
	cursor: pointer;
}
.allimages{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 180px;
}

.img1{
	transition: 3s;
}
.img2{
	transition: 3s;
}
.img1:hover{
	transform: rotate(360deg);
}
.img2:hover{
	transform: rotate(-360deg);
}
p{
	font-size: 25px;
	font-family: cinzel;
	color: red;
	font-weight: bold;
}